:root {
  --primary-color: rgba(130, 76, 8, 1);
  --primary-button: rgba(130, 76, 8, 1);
  --primary-button-hover: rgba(252, 228, 140, 1);
  --breadcrumb-color: rgba(229, 227, 220, 1);
  --text-light-yellow: rgba(252, 228, 140, 1);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.vertical-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}
.vertical-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(34, 39, 50, 1);
  border-radius: 4px;
}
